@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

body{
    display: grid;
    grid-template-areas: "aside main";
    height: 100vh;
    grid-template-columns: 220px 100fr;
}

aside{
    grid-area: aside;
    background-color: rgb(19, 18, 18);
}

main{
    grid-area: main;
    background-color: rgb(219, 219, 219);
}

h1{
    margin: 20px auto;
    width: 200px;
    text-align: center;
    color: #7f00b2;
}

#inf{
    text-align: center;
    width: 100px;
    margin: 0px auto;
    color: #7f00b2;
}

nav{
    margin-top: 20px;
}

.navbar{
    text-align: center;
    width: 100px;
    height: 25px;
    margin: 10px auto;
    color: #7f00b2;
}

.botao{
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 700px) {
    body{
        display: grid;
        grid-template-areas: 
        "aside"
        "main";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
    }
    
    aside{
        background-color: rgb(19, 18, 18);
    }

    h1{
        margin: 10px auto;
    }

    p{
        margin: 0px auto;
    }
    
    .botao{
        display: block;
        visibility: visible;
        position: absolute;
        margin-top: -63px;
        margin-left: 5px;
        width: 23px;
        cursor: pointer;
    }
}